body {
  font-family: "Roboto", sans-serif;
}
main {
  width: 100%;
  margin: 0 auto;
}
.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 32px 0px;
  background: #f5f5f5;
}
.links {
  text-decoration: none;
  color: rgb(36, 29, 29);
  padding: 0 15px;
}
.intro {
  display: flex;
  width: 940px;
  justify-content: space-around;
  flex-direction: row;
  margin: 15px auto;
}
.intro h1 {
  font-size: 47px;
}
.foto-perfil {
  width: 170px;
  height: 280px;
  border-radius: 120px 120px 120px 120px;
}
.presentacion {
  text-align: left;
  width: 70%;
}
.menu a {
  padding: 0;
  margin-right: 20px;
}
.about {
  width: 100%;
  background-color: rgb(222, 245, 238);
  padding: 0 37% 0 27%;
  box-sizing: border-box;
  margin-bottom: 7%;
}
.subtitulo{
 font-size: 32px;
}
.skills-box {
  text-align: center;
}
.skill {
  display: inline-block;
  width: 10%;
  height: 185px;
 
}
.skill img{
  height: 100px;
  width: 100px;
   
}
.academica{
  text-align: center;
  padding: 50px;
  background-color: rgb(222, 245, 238);
  
}
.item-academico{
  position: relative;
  left: 630px;
  width: 30%;
  background: #ffffff;
}